body {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    background: rgb(180,180,180);
    font: bold 1em Helvetica, Arial, "Luxi Sans", sans-serif;
}

.title {
    text-shadow: #EEE 0 1px 0;
    display: inline;
}

.subtitle {
    font-size: 0.7em;
    margin-top: 10px;
}

.title a{
    text-decoration: none;
    color:  rgb(80,80,80);
}

.memorize {
    max-width: 320px;
    position: relative;
}


.loading-message {
    display: none;
    position: absolute;
    font-size: 1.5em;
    line-height: 1;
    margin-top: -0.75em;
    top: 50%;
    text-align: center;
    text-shadow: #eee 0 1px 0;
    width: 100%;
}

.memorize.loading .loading-message {
    display: block;
}

.grid {
    table-layout: fixed;
    border-spacing: 0;
    -webkit-transform: translate3d(0,0,0);
    border-collapse: collapse;
}

.grid td {
    vertical-align: top;
    width: 60px;
    height: 60px;
    padding: 5px;
}

.card {
    width: 100%;
    height: 100%;
}

.face {
    background: white center no-repeat;
    background-size: 100%;
        -ms-background-size: 100%;
        -o-background-size: 100%;
        -moz-background-size: 100%;
        -webkit-background-size: 100%;

    background-size: cover;
        -ms-background-size: cover;
        -o-background-size: cover;
        -moz-background-size: cover;
        -webkit-background-size: cover;
    height: 60px;
    position: absolute;
    width: 60px;
    line-height: 59px;
    text-align: center;
    -webkit-border-radius: 5px;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3);
}

.back {
    background-image: url(back.jpg);
}

.card img {
    max-height: 60px;
    max-width: 60px;
    display: inline-block;
    vertical-align: middle;
}

.card span {
    color: #777;
    font-size: 60px;
    line-height: 1;
    width: 60px;
    position: absolute;
    display: none; /* turn on for debugging */
    text-align: center;
}

/* Flip animations */

.flip .back {
    display: none;
}

@media all and (-webkit-transform-2d) {
    .flip .back {
        display: block;
    }
}


@media all and (-webkit-transform-2d) and (-webkit-transform-3d: 0) {
    .face {
        -webkit-transition: -webkit-transform linear 250ms;
    }

    .front, .flip .back {
        -webkit-transform: scaleX(0);
        -webkit-transition-delay: 0;
        display: block;
    }

    .flip .front, .back {
        -webkit-transform: scaleX(1);
        -webkit-transition-delay: 250ms;
    }
}

@media all and (-webkit-transform-3d) {
    .grid {
        -webkit-transform-style: preserve-3d;
        -webkit-perspective: 1000;
    }

    .face {
        -webkit-transition: 0.5s -webkit-transform;
    }

    .front {
        -webkit-transform: rotateY(180deg) translateZ(1px);
    }

    .flip .back {
        -webkit-transform: rotateY(-180deg);
    }

    .back, .flip .front {
        -webkit-transform: rotateY(0);
        -webkit-backface-visibility: hidden;
    }
}


/* Loading animation */
@-webkit-keyframes loading {
    0% {
        /*color: #333;*/
        opacity: 1;
        -webkit-animation-timing-function: ease-in-out;
    }
    50% {
        /*color: #777;*/
        opacity: 0.2;
        -webkit-animation-timing-function: ease-in-out;
    }
    100% {
        /*color: #333;*/
        opacity: 1;
        -webkit-animation-timing-function: ease-in-out;
    }
}

.loading-message {
    -webkit-animation: loading 3s infinite;
}
