body {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    background: rgb(180,180,180);
}

.title {
    font: bold 1em Helvetica, Arial, "Luxi Sans", sans-serif;
    text-shadow: #EEE 0 1px 0;
    padding-left:5px;
}

.subtitle {
    font-size: 0.7em;
    margin-top: 10px;
}

.title a{
    text-decoration: none;
    color:  rgb(80,80,80);
}

#playground {
    overflow: hidden;
    max-width: 320px;
}

.card {
    width: 60px;
    height: 60px;
    margin: 5px;
    padding: 5px;
    -webkit-transform-style: preserve-3d;
    -webkit-transition: 0.5s;
    -webkit-transition-property: -webkit-transform;
    float: left;
    position:relative;
}

.front, .back, .hit {
    -webkit-border-radius: 5px;
    position: absolute;
}

.back {
    -webkit-backface-visibility: hidden;
}

.flip {
    -webkit-transform: rotateY(180deg);
    -webkit-perspective:200;
}

.card img {
    max-height: 60px;
    max-width: 60px;
    -webkit-border-radius: 5px;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 60px rgba(0, 0, 0, 0.1) inset;
}

.card span {
    position: absolute;
    top: 0;
    left: 0;
    display: none; /* turn on for debugging*/
}