body {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    background: rgb(180,180,180);
}

.title {
    font: bold 1em Helvetica, Arial, "Luxi Sans", sans-serif;
    text-shadow: #EEE 0 1px 0;
    padding-left:5px;
}

.subtitle {
    font-size: 0.7em;
    margin-top: 10px;
}

.title a{
    text-decoration: none;
    color:  rgb(80,80,80);
}

#playground {
    overflow: hidden;
    max-width: 320px;
}

.grid {
    table-layout: fixed;
}

.card {
    width: 60px;
    height: 60px;
    padding: 5px;
    -webkit-transform-style: preserve-3d;
    -webkit-perspective: 200;
}

.front, .back, .hit {
    -webkit-border-radius: 5px;
}

.back, .front {
    -webkit-transition: -webkit-transform 0.5s;
}

.back {
    margin-top: -60px;
    -webkit-backface-visibility: hidden;
}

.flip .back, .flip .front {
    -webkit-transform: rotateY(180deg);
}

.card img {
    display: block;
    max-height: 60px;
    max-width: 60px;
    -webkit-border-radius: 5px;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 60px rgba(0, 0, 0, 0.1) inset;
}

.card span {
    color: #777;
    font: bold 60px/1 "Helvetica Neue", Arial, sans-serif;
    width: 60px;
    position: absolute;
    display: none; /* turn on for debugging */
    text-align: center;
}
